@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

body .region-navbar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
  /* DIVS NAVBAR*/
  /* Curriculum */
  /* Alertas */
  /* Main */
  /* Chat */
  /* Perfil */
  /* ICONS */
}

body .region-navbar .alerts-navbar {
  padding: 1%;
  width: 30%;
}

body .region-navbar .main-navbar {
  padding: 1%;
  width: 40%;
  height: 10vh;
}

body .region-navbar .profile-navbar {
  padding: 1%;
  width: 30%;
}

body .region-navbar .active-left {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
}

body .region-navbar .active-right {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-left-radius: 30px;
}

body .region-navbar .active {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

body .region-navbar .active-center {
  background-color: #C5D1EB;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

body .region-navbar .icon {
  color: #c0c0c0;
  text-align: center;
  font-size: 3.5vh;
  background-color: white;
  border-width: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

body .region-navbar .main-icon {
  color: #0F084B;
  font-size: 4vh;
  background-color: white;
  text-align: center;
  border-width: 0px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

body .region-navbar .active-icon {
  color: #000000;
  background-color: #E5E5E5;
  font-size: 4.5vh;
}

body .region-navbar .active-icon-center {
  background-color: #C5D1EB;
  font-size: 4.5vh;
}

body .alerts .filter {
  margin-top: 2vh;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1vh;
}

body .alerts .filter .buscador {
  float: right;
}

body .alerts .filter .buscador .input-buscar {
  padding: 1vh;
  width: 82vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: #92AFD7;
  border-width: 1px;
  height: 5vh;
}

body .alerts .filter .buscador-icon {
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13vw;
  background-color: #92AFD7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  height: 5vh;
}

body .alerts .alert {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .alerts .alert .alert-foto {
  width: 15%;
  -ms-flex-line-pack: right;
      align-content: right;
}

body .alerts .alert .alert-foto .alert-profilefoto {
  border-radius: 50px;
  height: 7vh;
  width: 7vh;
}

body .alerts .alert .alert-mensaje {
  width: 55%;
  margin-left: 2vw;
}

body .alerts .alert .alert-mensaje .alert-mensaje-text {
  padding: 0;
  margin: 0;
  font-size: 1.75vh;
}

body .alerts .alert .alert-user {
  width: 10%;
  text-align: right;
}

body .alerts .alert .alert-user .alert-user-btn {
  background-color: #E5E5E5;
  border-width: 0;
  font-size: 3vh;
}

body .alerts .alert .alert-chat {
  text-align: right;
  width: 10%;
}

body .alerts .alert .alert-chat .alert-chat-btn {
  background-color: #E5E5E5;
  border-width: 0;
  font-size: 3vh;
}

body .alerts .alert .alert-nada {
  width: 10%;
  text-align: right;
  color: transparent;
}

body .alerts .alert .alert-nada .alert-nada-btn {
  background-color: #E5E5E5;
  border-width: 0;
  font-size: 3vh;
  color: transparent;
}

body .alerts .alert-linea {
  width: 95vw;
}

body .page-home .region-content {
  height: 85vh;
  top: 15vh;
  position: absolute;
  left: 0;
  width: 100%;
}

body .page-home .region-content .card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .page-home .region-content .card-wrapper .card {
  background-color: white;
  width: 90vw;
  height: 70vh;
  border-radius: 30px;
}

body .page-home .region-content .botones-home {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .page-home .region-content .botones-home button {
  border-radius: 50%;
  background-color: #C5D1EB;
  border: none;
}

body .page-home .region-content .botones-home .boton-cruz > button,
body .page-home .region-content .botones-home .boton-maletin > button {
  width: 76px;
  height: 76px;
}

body .page-home .region-content .botones-home .boton-cruz > button i,
body .page-home .region-content .botones-home .boton-maletin > button i {
  font-size: calc(30px + 1vw);
}

body .page-home .region-content .botones-home .boton-info .icono-info {
  width: 56px;
  height: 56px;
}

body .page-home .region-content .botones-home .boton-info .icono-info i {
  font-size: calc(20px + 1vw);
}

body .page-home .region-content .botones-home .boton-maletin .icono-maletin i {
  color: #a55f2a;
}

body .page-home .region-content .botones-home .boton-cruz .icono-cruz i {
  color: red;
}

body .curriculum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vh;
}

body .curriculum .curriculum-title {
  font-size: 3vh;
  font-weight: bolder;
  text-align: center;
}

body .user-edit {
  padding: 2vh;
}

body .user-edit .user-input {
  margin-top: 2vh;
  width: 100%;
}

body .user-edit .user-input .user-input-name {
  width: 89vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-name .user-icon-name {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-name .inputs-name {
  float: left;
  width: 90%;
}

body .user-edit .user-input .user-input-name .inputs-name .input-name {
  margin-left: 1vw;
  width: 35%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-name .inputs-name .input-surname {
  width: 35%;
  margin-left: 1vw;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-name .inputs-name .input-age {
  width: 18%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
  float: right;
}

body .user-edit .user-input .user-input-house {
  width: 89vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-house .user-icon-house {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-house .inputs-house {
  float: right;
  width: 90%;
}

body .user-edit .user-input .user-input-house .inputs-house .input-house {
  margin-left: 1vw;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-studies {
  width: 89vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-studies .user-icon-studies {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-studies .inputs-studies {
  float: left;
  width: 90%;
}

body .user-edit .user-input .user-input-studies .inputs-studies .input-studies {
  margin-left: 1vw;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-experience {
  width: 90vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-experience .user-icon-experience {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-experience .inputs-experience {
  float: left;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .user-edit .user-input .user-input-experience .inputs-experience .input-experience {
  margin-left: 1vw;
  width: 50%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
  float: left;
}

body .user-edit .user-input .user-input-experience .inputs-experience .p-tiempo {
  margin-left: 1vw;
  width: 30%;
  color: white;
  font-weight: bold;
}

body .user-edit .user-input .user-input-experience .inputs-experience .input-years {
  width: 20%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
  float: right;
}

body .user-edit .user-input .user-input-conocimientos {
  width: 90vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-conocimientos .user-icon-conocimientos {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-conocimientos .inputs-conocimientos {
  float: left;
  width: 90%;
}

body .user-edit .user-input .user-input-conocimientos .inputs-conocimientos .input-conocimientos {
  margin-left: 1vw;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-idioma {
  width: 90vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-idioma .user-icon-idioma {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .user-edit .user-input .user-input-idioma .inputs-idioma {
  float: left;
  width: 90%;
}

body .user-edit .user-input .user-input-idioma .inputs-idioma .input-idioma {
  margin-left: 1vw;
  width: 100%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .user-input .user-input-desc {
  width: 90vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .user-edit .user-input .user-input-desc .user-icon-desc {
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
  color: white;
  font-weight: bolder;
}

body .user-edit .user-input .user-input-desc .inputs-desc {
  float: left;
  width: 90%;
}

body .user-edit .user-input .user-input-desc .inputs-desc .input-desc {
  float: left;
  margin-left: 1vw;
  width: 100%;
  height: 10vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .user-edit .eliminar-cuenta-edit {
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .user-edit .eliminar-cuenta-edit .eliminar-cuenta-btn {
  padding: 0;
  border-width: 0px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #970000;
  background-color: transparent;
}

body .user-edit .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body .user-edit .user-icon-more {
  float: right;
  position: absolute;
  right: 1vh;
  opacity: 0;
}

body .user-edit .user-icon-more .user-icon-more-button {
  padding: 0;
  opacity: 0;
  background-color: none;
  border-width: 0px;
  cursor: pointer;
}

body .empresa-edit .empresa-input {
  margin-top: 2vh;
  width: 100%;
}

body .empresa-edit .empresa-input .user-input-name {
  width: 89vw;
  border-radius: 2vw;
  background-color: #92AFD7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

body .empresa-edit .empresa-input .user-input-name .user-icon-name {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  margin-left: 1vw;
}

body .empresa-edit .empresa-input .user-input-name .inputs-name {
  float: left;
  width: 90%;
}

body .empresa-edit .empresa-input .user-input-name .inputs-name .input-name {
  margin-left: 1vw;
  width: 35%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .empresa-edit .empresa-input .user-input-name .inputs-name .input-surname {
  width: 35%;
  margin-left: 1vw;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
}

body .empresa-edit .empresa-input .user-input-name .inputs-name .input-age {
  width: 18%;
  height: 5vh;
  border-radius: 2vw;
  border-color: #92AFD7;
  float: right;
}

body .empresa-edit .eliminar-empresa-edit {
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .empresa-edit .eliminar-empresa-edit .eliminar-empresa-btn {
  padding: 0;
  border-width: 0px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #970000;
  background-color: transparent;
}

body .modal-eliminar-user {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

body .modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 15vh;
}

body .modal-content .modal-title {
  color: #000000;
  font-weight: bolder;
  font-size: 2vh;
}

body .modal-content .eliminar-user-butons {
  width: 100%;
}

body .modal-content .eliminar-user-butons .cancelar-eliminar {
  width: 49%;
  background-color: #92AFD7;
  color: white;
  border-width: 0;
  padding: 1vh;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2vw;
}

body .modal-content .eliminar-user-butons .cancelar-eliminar:hover {
  background-color: #758cad;
}

body .modal-content .eliminar-user-butons .aceptar-eliminar {
  width: 49%;
  background-color: #970000;
  color: white;
  border-width: 0;
  padding: 1vh;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2vw;
}

body .modal-content .eliminar-user-butons .aceptar-eliminar:hover {
  background-color: #c70000;
}

body .close-modal-eliminar-empresa {
  color: #000000;
  float: right;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
}

body .modal-eliminar-empresa {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

body .modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  width: 80%;
  height: 15vh;
}

body .modal-content .modal-title {
  color: #000000;
  font-weight: bolder;
  font-size: 2vh;
}

body .modal-content .eliminar-empresa-butons {
  width: 100%;
}

body .modal-content .eliminar-empresa-butons .cancelar-eliminar {
  width: 49%;
  background-color: #92AFD7;
  color: white;
  border-width: 0;
  padding: 1vh;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2vw;
}

body .modal-content .eliminar-empresa-butons .cancelar-eliminar:hover {
  background-color: #758cad;
}

body .modal-content .eliminar-empresa-butons .aceptar-eliminar {
  width: 49%;
  background-color: #970000;
  color: white;
  border-width: 0;
  padding: 1vh;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 2vw;
}

body .modal-content .eliminar-empresa-butons .aceptar-eliminar:hover {
  background-color: #c70000;
}

body .modal-content .eliminar-empresa-butons .botonregister {
  border-radius: 15px;
  background-color: #92AFD7 !important;
  border: #92AFD7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  body .body-login .modal-content-register h3 {
    font-size: 3vh;
    padding-bottom: 4vh;
  }
  body .body-login .modal-content-register .column-2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  body .body-login .modal-content-register .column-2 .inputregister {
    height: 6vh !important;
  }
  body .body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
    font-size: 2.2vh;
  }
  body .body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
    font-size: 2.2vh;
  }
  body .body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
    font-size: 2.2vh;
  }
  body .body-login .modal-content-register .column-2 .inputregister::placeholder {
    font-size: 2.2vh;
  }
  body .body-login .modal-content-register .column-2 .select {
    font-size: 2.2vh !important;
  }
  body .body-login .modal-content-register .column-2 .foto {
    padding-bottom: 1rem;
  }
  body .body-login .botonregister {
    width: 70% !important;
    font-size: 2.1vh;
    height: 5vh !important;
  }
}

body .body-index {
  margin: 0;
  background-color: #92AFD7;
  text-align: center;
}

body .body-index .menu-index {
  text-align: right;
}

body .body-index .menu-index .btn-register {
  border-radius: 15px;
  background-color: white;
  border: white solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: #090216b0;
  font-weight: bold;
  width: 11%;
  height: 6vh;
  margin-right: 3vh;
  margin-top: 2.5vh;
  margin-bottom: 4vh;
}

body .body-index h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}

body .body-index h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 10vh;
}

body .body-index .btn-index {
  border-radius: 15px;
  background-color: white;
  border: white solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: #090216b0;
  font-weight: bold;
  width: 15%;
  height: 6vh;
  margin-right: 3vh;
  margin-top: 5.5vh;
  margin-bottom: 4vh;
}

body .body-index section {
  width: 0%;
  background: white;
}

body .body-index #wave {
  bottom: 0;
  position: absolute;
  width: 100%;
}

body .body-index #wave path {
  fill: #C5D1EB;
}

body .body-index section#content {
  background: pink;
}

@media only screen and (max-width: 768px) {
  body .body-index .menu-index .btn-register {
    width: 40%;
  }
  body .body-index h1 {
    font-size: 5vh;
  }
  body .body-index .btn-index {
    width: 70%;
  }
}

body .body-login {
  background-color: #92AFD7;
}

body .body-login .logo {
  display: none;
}

body .body-login .modal-login {
  background-color: white;
  border-radius: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 10vh;
  padding-bottom: 0.2vh;
  margin-left: 30vh;
  margin-right: 30vh;
  -webkit-box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
          box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
}

body .body-login .modal-login .botones {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .body-login .modal-login .modal-content {
  border: white;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;
}

body .body-login .modal-login .modal-content h2 {
  margin-top: 8vh;
  margin-bottom: 7vh;
  text-align: center;
  font-weight: bold;
  font-size: 3.5vh;
}

body .body-login .modal-login .modal-content .user-empresa {
  font-weight: bold;
  color: white !important;
  text-align: center;
  padding-top: 10px;
}

body .body-login .modal-login .modal-content .contraseña {
  font-weight: bold;
  font-size: 2.5vh;
  color: #C5D1EB !important;
  text-align: center;
  padding-top: 10px;
}

body .body-login .modal-login .modal-content .inputlogin {
  font-size: 15px;
  border-radius: 15px;
  border: #92AFD7 solid 1.5px;
  width: 70%;
  height: 7vh;
}

body .body-login .modal-login .modal-content .inputlogin::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

body .body-login .modal-login .modal-content .inputlogin:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

body .body-login .modal-login .modal-content .inputlogin::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

body .body-login .modal-login .modal-content .inputlogin::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

body .body-login .modal-login .modal-content .botonlogin {
  border-radius: 15px;
  background-color: #92AFD7;
  border: #92AFD7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 70%;
  height: 7vh;
  margin-top: 1rem;
}

body .body-login .modal-login .modal-content .linea {
  position: flex;
  margin: auto;
  width: 55%;
  border-top: 1px solid #CDC0C0;
  height: 2px;
}

body .body-login .modal-login .modal-content .google-login {
  font-weight: bold;
  color: white;
  background-color: #C5D1EB;
  border: #C5D1EB solid 1.5px;
  display: block;
  margin-top: 4vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .body-login .modal-login .modal-content .google-img {
  width: 2.3vh;
  margin-right: 4px;
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  body .body-login .modal-login {
    margin-top: 10vh;
    padding-bottom: 0.2vh;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  body .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  body .body-login .modal-login .botones .btn-signin {
    width: 100%;
  }
  body .body-login .modal-login .botones .btn-register {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body .body-login .logo {
    display: block !important;
    height: 25vh;
  }
  body .body-login .logo img {
    width: 30%;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body .body-login .modal-login {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
  }
  body .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  body .body-login .modal-login .modal-content {
    width: 80%;
    height: 66vh;
  }
  body .body-login .modal-login .modal-content h2 {
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-weight: bold;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 3.5vh;
  }
  body .body-login .modal-login .modal-content .inputlogin {
    width: 100% !important;
    height: 42px !important;
  }
  body .body-login .modal-login .modal-content .botonlogin {
    width: 100%;
    height: 40px;
    margin-bottom: 3px;
  }
  body .body-login .modal-login .modal-content p {
    padding-top: 3px;
    text-align: left;
    font-size: 1.7vh;
  }
  body .body-login .modal-login .modal-content .linea {
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  body .body-login .modal-login .modal-content .google-login {
    width: 80%;
    padding-top: 4px;
    padding-bottom: 7px;
  }
  body .body-login .modal-login .modal-content .google-img {
    width: 2.5vh;
    margin-right: 12px;
  }
}

body .body-login .botones .btn-signin {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #92AFD7;
  font-weight: bold;
  font-size: 2.5vh;
  border: none;
  border-top-left-radius: 53px;
  border-bottom-right-radius: 60px;
}

body .body-login .botones .btn-register {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #92AFD7;
  font-weight: bold;
  font-size: 2.5vh;
  background-color: white;
  border: none;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 60px;
}

body .body-login .modal-content-register-cuadrados {
  width: 100%;
  height: 72vh;
}

body .body-login .modal-content-register-cuadrados h3 {
  font-weight: bold;
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 3.5vh;
}

body .body-login .modal-content-register-cuadrados .cuadrados {
  width: 50%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .body-login .modal-content-register-cuadrados .cuadrado {
  width: 34vh;
  height: 34vh;
  background: #C5D1EB;
  border: #C5D1EB solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

body .body-login .modal-content-register-cuadrados i {
  text-align: center;
  font-size: 13vh;
}

body .body-login .modal-content-register-cuadrados p {
  font-size: 3.2vh;
}

@media only screen and (max-width: 768px) {
  body .body-login {
    height: 60vh;
  }
  body .body-login .modal-content-register-cuadrados h3 {
    font-size: 3vh;
    margin-bottom: 4vh;
    padding-top: 5vh;
    padding-bottom: 0vh;
  }
  body .body-login .modal-content-register-cuadrados .cuadrados {
    width: 100%;
    height: 21vh;
  }
  body .body-login .modal-content-register-cuadrados .cuadrados .cuadrado {
    width: 19vh;
    height: 19vh;
  }
  body .body-login .modal-content-register-cuadrados .cuadrados i {
    padding-top: 3vh;
    font-size: 6.5vh;
  }
}

.body-login .scrollbar {
  width: 100%;
  height: 72vh;
  overflow-y: scroll;
}

.body-login .modal-content-register {
  width: 100%;
  height: auto;
}

.body-login .modal-content-register h3 {
  font-weight: bold;
  padding-top: 8vh;
  padding-bottom: 6vh;
  font-size: 3.5vh;
}

.body-login .modal-content-register .column-2 {
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.body-login .modal-content-register .column-2 p {
  font-size: 2.5vh !important;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.594);
}

.body-login .modal-content-register .column-2 .inputregister {
  margin-bottom: 1rem;
  font-size: 15px;
  border-radius: 15px;
  border: #92AFD7 solid 2px;
  width: 100% !important;
  height: 42px !important;
}

.body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .foto {
  width: 80%;
  float: left;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .column-2 select {
  border-radius: 15px;
  border: #92AFD7 solid 2px;
  width: 15% !important;
  height: 42px !important;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .botonregister {
  border-radius: 15px;
  background-color: #92AFD7 !important;
  border: #92AFD7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .body-login .modal-content-register h3 {
    font-size: 3vh;
    padding-bottom: 4vh;
  }
  .body-login .modal-content-register .column-2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .body-login .modal-content-register .column-2 .inputregister {
    height: 6vh !important;
  }
  .body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .select {
    font-size: 2.2vh !important;
  }
  .body-login .modal-content-register .column-2 .foto {
    padding-bottom: 1rem;
  }
  .body-login .botonregister {
    width: 70% !important;
    font-size: 2.1vh;
    height: 5vh !important;
  }
}
/*# sourceMappingURL=style.css.map */