/////////////////////////////////MIXINS-IMPORTS////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$first-color:#92AFD7;
$second-color: #C5D1EB;
$third-color:#5A7684;
$fourth-color:#0F084B;
$fifth-color: #0D0221;
$movil:768px;
$tablet:1200px;
*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

////////////////////////////////MAIN///////////////////////////////////////
////////////////////////////////LOGIN//////////////////////////////////////
/////////////////////////////////PERFIL////////////////////////////////////
/////////////////////////////////CHAT/////////////////////////////////////////