/////////////////////////////////MIXINS-IMPORTS////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$first-color:#92AFD7;
$second-color: #C5D1EB;
$third-color:#5A7684;
$fourth-color:#0F084B;
$fifth-color: #0D0221;
$movil:768px;
$tablet:1200px;
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
    ///////////////////////////////NAVBAR//////////////////////////////////////
    .region-navbar {
        background-color: rgb(255, 255, 255);
        display: flex;
        height: 10vh;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
        /* DIVS NAVBAR*/
        /* Curriculum */
        // .curriculum-navbar {
        //     padding: 1%;
        //     width: 20%;
        // }
        /* Alertas */
        .alerts-navbar {
            padding: 1%;
            width: 30%;
        }
        // .alerts-navbar::before {
        //     content: "";
        //     position: absolute;
        //     margin-top: 6vh;
        //     width: 20px;
        //     height: 20px;
        //     background-color: blue;
        //     box-shadow: 0px -10px 0 0 black;
        // }
        /* Main */
        .main-navbar {
            padding: 1%;
            width: 40%;
            height: 10vh;
        }
        /* Chat */
        // .chat-navbar {
        //     padding: 1%;
        //     width: 20%;
        // }
        /* Perfil */
        .profile-navbar {
            padding: 1%;
            width: 30%;
        }
        // DIVS ACTIVE //
        .active-left {
            background-color: #E5E5E5;
            box-shadow: none;
            border-top-right-radius: 30px;
        }
        .active-right {
            background-color: #E5E5E5;
            box-shadow: none;
            border-top-left-radius: 30px;
        }
        .active {
            background-color: #E5E5E5;
            box-shadow: none;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        .active-center {
            background-color: #C5D1EB;
            box-shadow: none;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        /* ICONS */
        .icon {
            color: #c0c0c0;
            text-align: center;
            font-size: 3.5vh;
            background-color: white;
            border-width: 0px;
            width: 100%;
            height: 100%;
            border-radius: 50px;
        }
        .main-icon {
            color: #0F084B;
            font-size: 4vh;
            background-color: white;
            text-align: center;
            border-width: 0px;
            width: 100%;
            height: 100%;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        .active-icon {
            color: #000000;
            background-color: #E5E5E5;
            font-size: 4.5vh;
        }
        .active-icon-center {
            background-color: #C5D1EB;
            font-size: 4.5vh;
        }
    }
    ///////////////////////////////NOTIFICACIONES//////////////////////////////////////
    .alerts {
        .filter {
            margin-top: 2vh;
            padding: 3%;
            display: flex;
            margin-bottom: 1vh;
            .buscador {
                float: right;
                .input-buscar {
                    padding: 1vh;
                    width: 82vw;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-color: #92AFD7;
                    border-width: 1px;
                    height: 5vh;
                }
            }
            .buscador-icon {
                float: left;
                justify-content: center;
                display: flex;
                align-items: center;
                width: 13vw;
                background-color: #92AFD7;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: white;
                height: 5vh;
            }
        }
        .alert {
            justify-content: center;
            display: flex;
            align-items: center;
            .alert-foto {
                width: 15%;
                align-content: right;
                .alert-profilefoto {
                    border-radius: 50px;
                    height: 7vh;
                    width: 7vh;
                }
            }
            .alert-mensaje {
                width: 55%;
                margin-left: 2vw;
                .alert-mensaje-text {
                    padding: 0;
                    margin: 0;
                    font-size: 1.75vh;
                }
            }
            .alert-user {
                width: 10%;
                text-align: right;
                .alert-user-btn {
                    background-color: #E5E5E5;
                    border-width: 0;
                    font-size: 3vh;
                }
            }
            .alert-chat {
                text-align: right;
                width: 10%;
                .alert-chat-btn {
                    background-color: #E5E5E5;
                    border-width: 0;
                    font-size: 3vh;
                }
            }
            .alert-nada {
                text-align: right;
                width: 10%;
                color: transparent;
                .alert-nada-btn {
                    background-color: #E5E5E5;
                    border-width: 0;
                    font-size: 3vh;
                    color: transparent;
                }
            }
        }
        .alert-linea {
            width: 95vw;
        }
    }
    ////////////////////////////////HOME///////////////////////////////////////
    .page-home {
        .region-content {
            height: 85vh;
            top: 15vh;
            position: absolute;
            left: 0;
            width: 100%;
            .card-wrapper {
                width: 100%;
                display: flex;
                align-items: flex-start;
                padding-top: 20px;
                justify-content: center;
                .card {
                    background-color: white;
                    width: 90vw;
                    height: 70vh;
                    border-radius: 30px;
                }
            }
            .botones-home {
                position: absolute;
                bottom: 2vh;
                width: 100%;
                left: 0;
                display: flex;
                align-items: flex-end;
                justify-content: space-evenly;
                button {
                    border-radius: 50%;
                    background-color: $second-color;
                    border: none;
                }
                .boton-cruz,
                .boton-maletin {
                    >button {
                        width: 76px;
                        height: 76px;
                        i {
                            font-size: calc(#{"30px + 1vw"});
                        }
                    }
                }
                .boton-info {
                    .icono-info {
                        width: 56px;
                        height: 56px;
                        i {
                            font-size: calc(#{"20px + 1vw"});
                        }
                    }
                }
                .boton-maletin {
                    .icono-maletin {
                        i {
                            color: rgb(165, 95, 42);
                        }
                    }
                }
                .boton-cruz {
                    .icono-cruz {
                        i {
                            color: red;
                        }
                    }
                }
            }
        }
    }
    /////////////////////////////////CURRICULUM/////////////////////////////////////////
    .curriculum {
        display: flex;
        padding: 10vh;
        .curriculum-title {
            font-size: 3vh;
            font-weight: bolder;
            text-align: center;
        }
    }
    ////////////////////////////////LOGIN//////////////////////////////////////
    /////////////////////////////////VER-PERFIL////////////////////////////////////
    .user-vista {
        width: 100;
        padding: 2vh;
        .user-ver-foto {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            position: relative;
            .user-profilefoto {
                border-radius: 60px;
                height: 14vh;
                width: 14vh;
            }
            .user-edit-div {
                float: left;
                position: absolute;
                bottom: 0;
                right: 0;
                .user-edit-btn {
                    height: 5vh;
                    width: 5vh;
                    padding: 0;
                    border-width: 0px;
                    cursor: pointer;
                    padding: 0;
                    margin: 0;
                    border-radius: 60px;
                    color: white;
                    background-color: $third-color;
                    font-size: 2vh;
                }
            }
        }
        .user-ver {
            margin-top: 2vh;
            width: 100%;
            .user-div-name {
                width: 89vw;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .divs-name {
                    float: left;
                    width: 100%;
                    .p-name {
                        width: 35%;
                        height: 5vh;
                        font-size: 3vh;
                        font-weight: bolder;
                    }
                    .p-surname {
                        width: 35%;
                        height: 5vh;
                        font-size: 3vh;
                        font-weight: bolder;
                    }
                    .p-age {
                        width: 18%;
                        height: 5vh;
                        font-size: 3vh;
                        font-weight: bolder;
                    }
                }
            }
            .user-div-house {
                width: 89vw;
                border-radius: 2vw;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-top: 2vh;
                margin-bottom: 2vh;
                .user-icon-house {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .divs-house {
                    float: right;
                    width: 90%;
                    .p-house {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                    }
                }
            }
            .user-div-desc {
                width: 89vw;
                border-radius: 2vw;
                margin-bottom: 2vh;
                justify-content: center;
                display: flex;
                align-items: center;
                .user-icon-desc {
                    width: 25%;
                    float: left;
                    margin-left: 1vw;
                    .sobre-mi-desc {
                        font-weight: bolder;
                    }
                }
                .divs-desc {
                    float: right;
                    width: 75%;
                    .p-desc {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                    }
                }
            }
        }
    }
    /////////////////////////////////EDITAR-PERFIL////////////////////////////////////
    .user-edit {
        width: 100;
        padding: 2vh;
        .user-edit-foto {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            .user-edit-profilefoto {
                border-radius: 60px;
                height: 14vh;
                width: 14vh;
            }
        }
        .edit-foto {
            position: absolute;
            margin: 50vw;
        }
        .user-input {
            margin-top: 2vh;
            width: 100%;
            .user-input-name {
                width: 89vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-name {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-name {
                    float: left;
                    width: 90%;
                    .input-name {
                        margin-left: 1vw;
                        width: 35%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                    .input-surname {
                        width: 35%;
                        margin-left: 1vw;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                    .input-age {
                        width: 18%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                        float: right;
                    }
                }
            }
            .user-input-house {
                width: 89vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-house {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-house {
                    float: right;
                    width: 90%;
                    .input-house {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                }
            }
            .user-input-studies {
                width: 89vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-studies {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-studies {
                    float: left;
                    width: 90%;
                    .input-studies {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                }
            }
            .user-input-experience {
                width: 90vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-experience {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-experience {
                    float: left;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .input-experience {
                        margin-left: 1vw;
                        width: 50%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                        float: left;
                    }
                    .p-tiempo {
                        margin-left: 1vw;
                        width: 30%;
                        color: white;
                        font-weight: bold;
                    }
                    .input-years {
                        width: 20%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                        float: right;
                    }
                }
            }
            .user-input-conocimientos {
                width: 90vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-conocimientos {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-conocimientos {
                    float: left;
                    width: 90%;
                    .input-conocimientos {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                }
            }
            .user-input-idioma {
                width: 90vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-idioma {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-idioma {
                    float: left;
                    width: 90%;
                    .input-idioma {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                }
            }
            .user-input-desc {
                width: 90vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-desc {
                    width: 30%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                    color: white;
                    font-weight: bolder;
                }
                .inputs-desc {
                    float: left;
                    width: 90%;
                    .input-desc {
                        float: left;
                        margin-left: 1vw;
                        width: 100%;
                        height: 10vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                }
            }
        }
        .eliminar-cuenta-edit {
            bottom: 0;
            justify-content: center;
            display: flex;
            align-items: center;
            .eliminar-cuenta-btn {
                padding: 0;
                border-width: 0px;
                cursor: pointer;
                padding: 0;
                margin: 0;
                color: rgb(151, 0, 0);
                background-color: transparent;
            }
        }
        .aceptar-cuenta-edit {
            bottom: 0;
            justify-content: center;
            display: flex;
            align-items: center;
            .aceptar-cuenta-btn {
                border-radius: 5vh;
                width: 50%;
                padding: 0;
                border-width: 0px;
                cursor: pointer;
                padding: 0;
                margin: 0;
                color: rgb(255, 255, 255);
                background-color: rgb(39, 138, 0);
            }
        }
        .contenedor {
            display: flex;
            text-align: center;
        }
        .user-icon-more {
            float: right;
            position: absolute;
            right: 1vh;
            opacity: 0;
            .user-icon-more-button {
                padding: 0;
                opacity: 0;
                background-color: none;
                border-width: 0px;
                cursor: pointer;
            }
        }
    }
    .empresa-edit {
        .empresa-input {
            margin-top: 2vh;
            width: 100%;
            .user-input-name {
                width: 89vw;
                border-radius: 2vw;
                background-color: #92AFD7;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                .user-icon-name {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .inputs-name {
                    float: left;
                    width: 90%;
                    .input-name {
                        margin-left: 1vw;
                        width: 35%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                    .input-surname {
                        width: 35%;
                        margin-left: 1vw;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                    }
                    .input-age {
                        width: 18%;
                        height: 5vh;
                        border-radius: 2vw;
                        border-color: #92AFD7;
                        float: right;
                    }
                }
            }
        }
        .eliminar-empresa-edit {
            bottom: 0;
            justify-content: center;
            display: flex;
            align-items: center;
            .eliminar-empresa-btn {
                padding: 0;
                border-width: 0px;
                cursor: pointer;
                padding: 0;
                margin: 0;
                color: rgb(151, 0, 0);
                background-color: transparent;
            }
        }
    }
    .modal-eliminar-user {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        background-color: #ffffff;
        margin: auto;
        padding: 10px;
        width: 80%;
        height: 15vh;
        .modal-title {
            color: #000000;
            font-weight: bolder;
            font-size: 2vh;
        }
        .eliminar-user-butons {
            width: 100%;
            .cancelar-eliminar {
                width: 49%;
                background-color: #92AFD7;
                color: white;
                border-width: 0;
                padding: 1vh;
                font-weight: bolder;
                cursor: pointer;
                border-radius: 2vw;
                &:hover {
                    background-color: #758cad;
                }
            }
            .aceptar-eliminar {
                width: 49%;
                background-color: rgb(151, 0, 0);
                color: white;
                border-width: 0;
                padding: 1vh;
                font-weight: bolder;
                cursor: pointer;
                border-radius: 2vw;
                &:hover {
                    background-color: rgb(199, 0, 0);
                }
            }
        }
    }
    .close-modal-eliminar-empresa {
        color: #000000;
        float: right;
        font-size: 2vh;
        font-weight: bold;
        cursor: pointer;
    }
    .modal-eliminar-empresa {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .modal-content {
        background-color: #ffffff;
        margin: auto;
        padding: 10px;
        width: 80%;
        height: 15vh;
        .modal-title {
            color: #000000;
            font-weight: bolder;
            font-size: 2vh;
        }
        .eliminar-empresa-butons {
            width: 100%;
            .cancelar-eliminar {
                width: 49%;
                background-color: #92AFD7;
                color: white;
                border-width: 0;
                padding: 1vh;
                font-weight: bolder;
                cursor: pointer;
                border-radius: 2vw;
                &:hover {
                    background-color: #758cad;
                }
            }
            .aceptar-eliminar {
                width: 49%;
                background-color: rgb(151, 0, 0);
                color: white;
                border-width: 0;
                padding: 1vh;
                font-weight: bolder;
                cursor: pointer;
                border-radius: 2vw;
                &:hover {
                    background-color: rgb(199, 0, 0);
                }
            }
        }
    }
    .close-modal-eliminar-empresa {
        color: #000000;
        float: right;
        font-size: 2vh;
        font-weight: bold;
        cursor: pointer;
    }
    ///////////////////////////////VER-EMPRESA//////////////////////////////////////
    .empresa-vista {
        width: 100;
        padding: 2vh;
        .empresa-ver-foto {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            position: relative;
            .empresa-profilefoto {
                border-radius: 60px;
                height: 14vh;
                width: 14vh;
            }
            .empresa-edit-div {
                float: left;
                position: absolute;
                bottom: 0;
                right: 0;
                .empresa-edit-btn {
                    height: 5vh;
                    width: 5vh;
                    padding: 0;
                    border-width: 0px;
                    cursor: pointer;
                    padding: 0;
                    margin: 0;
                    border-radius: 60px;
                    color: white;
                    background-color: $third-color;
                    font-size: 2vh;
                }
            }
        }
        .empresa-ver {
            margin-top: 2vh;
            width: 100%;
            .empresa-div-name {
                width: 89vw;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                margin-top: 2vh;
                .divs-name {
                    float: left;
                    width: 100%;
                    .p-name {
                        width: 35%;
                        height: 5vh;
                        font-size: 3vh;
                        font-weight: bolder;
                    }
                }
            }
            .empresa-div-house {
                width: 89vw;
                border-radius: 2vw;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-bottom: 2vh;
                margin-top: 2vh;
                .empresa-icon-house {
                    width: 10%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    float: left;
                    margin-left: 1vw;
                }
                .divs-house {
                    float: right;
                    width: 90%;
                    .p-house {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                    }
                }
            }
            .empresa-div-desc {
                width: 89vw;
                border-radius: 2vw;
                margin-bottom: 2vh;
                justify-content: center;
                display: flex;
                align-items: center;
                .empresa-icon-desc {
                    width: 25%;
                    float: left;
                    margin-left: 1vw;
                    .sobre-mi-desc {
                        font-weight: bolder;
                    }
                }
                .divs-desc {
                    float: right;
                    width: 75%;
                    .p-desc {
                        margin-left: 1vw;
                        width: 100%;
                        height: 5vh;
                        border-radius: 2vw;
                    }
                }
            }
        }
    }
}