@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.body-index {
  margin: 0;
  background-color: #92AFD7;
  text-align: center;
}

.body-index .menu-index {
  text-align: right;
}

.body-index .menu-index .btn-register {
  border-radius: 15px;
  background-color: white;
  border: white solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: #090216b0;
  font-weight: bold;
  width: 11%;
  height: 6vh;
  margin-right: 3vh;
  margin-top: 2.5vh;
  margin-bottom: 4vh;
}

.body-index h1 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.body-index h2 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 10vh;
}

.body-index .btn-index {
  border-radius: 15px;
  background-color: white;
  border: white solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: #090216b0;
  font-weight: bold;
  width: 15%;
  height: 6vh;
  margin-right: 3vh;
  margin-top: 5.5vh;
  margin-bottom: 4vh;
}

.body-index section {
  width: 0%;
  background: white;
}

.body-index #wave {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.body-index #wave path {
  fill: #C5D1EB;
}

.body-index section#content {
  background: pink;
}

@media only screen and (max-width: 768px) {
  .body-index .menu-index .btn-register {
    width: 40%;
  }
  .body-index h1 {
    font-size: 5vh;
  }
  .body-index .btn-index {
    width: 70%;
  }
}

.body-login {
  margin: 0;
  background-color: #92AFD7;
}

.body-login .logo {
  display: none;
}

.body-login .modal-login {
  background-color: white;
  border-radius: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 10vh;
  padding-bottom: 0.2vh;
  margin-left: 30vh;
  margin-right: 30vh;
  -webkit-box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
          box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
}

.body-login .modal-login .botones {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-login .modal-login .botones form {
  width: 50%;
}

.body-login .modal-login .botones form button {
  width: 100%;
}

.body-login .modal-login .botones .btn-signin {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #92AFD7;
  font-weight: bold;
  font-size: 2.5vh;
  background-color: #F0F0F0;
  border: none;
  border-top-left-radius: 53px;
  border-bottom-right-radius: 60px;
}

.body-login .modal-login .botones .btn-register {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #92AFD7;
  font-weight: bold;
  font-size: 2.5vh;
  background-color: #FFFFFF;
  border: none;
  border-top-right-radius: 53px;
}

.body-login .modal-login .modal-content {
  border: white;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  /* conectate con google */
}

.body-login .modal-login .modal-content h2 {
  margin-top: 8vh;
  margin-bottom: 7vh;
  text-align: center;
  font-weight: bold;
}

.body-login .modal-login .modal-content p {
  font-weight: bold;
  color: #C5D1EB;
  text-align: center;
  padding-top: 10px;
}

.body-login .modal-login .modal-content .inputlogin {
  margin-bottom: 1rem;
  font-size: 15px;
  border-radius: 15px;
  border: #92AFD7 solid 1.5px;
  width: 70%;
  height: 7vh;
}

.body-login .modal-login .modal-content .inputlogin::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .botonlogin {
  border-radius: 15px;
  background-color: #92AFD7;
  border: #92AFD7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 70%;
  height: 7vh;
}

.body-login .modal-login .modal-content .linea {
  position: flex;
  margin: auto;
  width: 55%;
  border-top: 1px solid #CDC0C0;
  height: 2px;
}

.body-login .modal-login .modal-content .google-login {
  font-weight: bold;
  color: white;
  background-color: #C5D1EB;
  border: #C5D1EB solid 1.5px;
  display: block;
  margin-top: 4vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.body-login .modal-login .modal-content .google-img {
  width: 2.3vh;
  margin-right: 4px;
}

@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .body-login .modal-login {
    margin-top: 10vh;
    padding-bottom: 0.2vh;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  .body-login .modal-login .botones .btn-signin {
    width: 100%;
  }
  .body-login .modal-login .botones .btn-register {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .body-login .logo {
    display: block !important;
    height: 25vh;
  }
  .body-login .logo img {
    width: 30%;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .body-login .modal-login {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
  }
  .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  .body-login .modal-login .botones .btn-signin {
    padding-top: 10px;
    width: 100%;
    font-size: 22px;
    border-top-left-radius: 53px;
    border-bottom-right-radius: 60px;
  }
  .body-login .modal-login .botones .btn-register {
    width: 100%;
    padding-top: 10px;
    font-size: 22px;
    border-top-right-radius: 53px;
  }
  .body-login .modal-login .modal-content {
    width: 80%;
    height: 66vh;
  }
  .body-login .modal-login .modal-content h2 {
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-weight: bold;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 3.5vh;
  }
  .body-login .modal-login .modal-content input {
    width: 100% !important;
    height: 42px !important;
  }
  .body-login .modal-login .modal-content .botonlogin {
    width: 100%;
    height: 40px;
    margin-bottom: 3px;
  }
  .body-login .modal-login .modal-content p {
    padding-top: 3px;
    text-align: left;
    font-size: 1.7vh;
  }
  .body-login .modal-login .modal-content .linea {
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .body-login .modal-login .modal-content .google-login {
    width: 80%;
    padding-top: 4px;
    padding-bottom: 7px;
  }
  .body-login .modal-login .modal-content .google-img {
    width: 2.5vh;
    margin-right: 12px;
  }
}

.body-login .modal-content-register-cuadrados {
  width: 100%;
  height: 72vh;
}

.body-login .modal-content-register-cuadrados h3 {
  font-weight: bold;
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 3.5vh;
}

.body-login .modal-content-register-cuadrados .cuadrados {
  width: 50%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-login .modal-content-register-cuadrados .cuadrado {
  width: 34vh;
  height: 34vh;
  background: #C5D1EB;
  border: #C5D1EB solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

.body-login .modal-content-register-cuadrados i {
  text-align: center;
  font-size: 13vh;
}

.body-login .modal-content-register-cuadrados p {
  font-size: 3.2vh;
}

.body-login .scrollbar {
  width: 100%;
  height: 72vh;
  overflow-y: scroll;
}

.body-login .modal-content-register {
  width: 100%;
  height: auto;
}

.body-login .modal-content-register h3 {
  font-weight: bold;
  padding-top: 8vh;
  padding-bottom: 6vh;
  font-size: 3.5vh;
}

.body-login .modal-content-register .column-2 {
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.body-login .modal-content-register .column-2 p {
  font-size: 2.5vh !important;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.594);
}

.body-login .modal-content-register .column-2 .inputregister {
  margin-bottom: 1rem;
  font-size: 15px;
  border-radius: 15px;
  border: #92AFD7 solid 2px;
  width: 100% !important;
  height: 42px !important;
}

.body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .foto {
  width: 80%;
  float: left;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .column-2 select {
  border-radius: 15px;
  border: #92AFD7 solid 2px;
  width: 15% !important;
  height: 42px !important;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .botonregister {
  border-radius: 15px;
  background-color: #92AFD7 !important;
  border: #92AFD7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .body-login .modal-content-register-cuadrados h3 {
    font-size: 3vh;
    margin-bottom: 4vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados {
    width: 100%;
    height: 21vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados .cuadrado {
    width: 19vh;
    height: 19vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados i {
    padding-top: 3vh;
    font-size: 6.5vh;
  }
}

@media only screen and (max-width: 768px) {
  .body-login .modal-content-register h3 {
    font-size: 3vh;
    padding-bottom: 4vh;
  }
  .body-login .modal-content-register .column-2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .body-login .modal-content-register .column-2 .inputregister {
    height: 6vh !important;
  }
  .body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .select {
    font-size: 2.2vh !important;
  }
  .body-login .modal-content-register .column-2 .foto {
    padding-bottom: 1rem;
  }
  .body-login .botonregister {
    width: 70% !important;
    font-size: 2.1vh;
    height: 5vh !important;
  }
}
/*# sourceMappingURL=style.css.map */